doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='lib/stylesheets/bootstrap.css')
    script(src='lib/javascripts/jquery-1.10.1.js')
    script(src='lib/javascripts/bootstrap.js')
    script(src='lib/javascripts/raphael-min.js')
    script(src='lib/javascripts/underscore.min.js')
    != js('application')
    != css('style')
  body
    block content
    .btn-group.menu
        button.btn.lugar Lugar
        button.btn.transicao Transição
    .modal.editar-atributos
        .modal-body
            fieldset
                legend Editar Lugar
                label Número de Fichas
                input.fichas(type='text', placeholder='Digite a qtd. de fichas')
                button.btn.btn-primary(type='submit') Salvar
    .modal.editar-pesos
        .modal-header
            h3 Editar Pesos
        .modal-body
            fieldset.row-fluid
                    #vem-de.span6
                        legend Vem de
                    #vai-para.span6
                        legend Vai para
            button.btn.btn-primary(type='submit') Salvar
    #grupo-de-acoes
        p
            #gerar-codigo.btn.btn-success.btn-large Gerar Código
        p
            #limpar-sketch.btn.btn-warning.btn-large Limpar
    .modal.fade.hide#codigo
        .modal-header
            button.close(type="button", data-dismiss="modal", aria-hidden="true") &times;
            h3 Código gerado
        .modal-body
        .modal-footer
            button.btn(data-dismiss="modal", aria-hidden="true") Fechar