doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='javascripts/jquery-1.10.1.js')
    script(src='javascripts/processingjs.min.js')
    script(src='javascripts/underscore.min.js')
    script(src='javascripts/core.js')
    script(src='javascripts/manager.js')
    script(src='javascripts/lugar.js')
    script(src='javascripts/input.js')
  body
    block content