doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='http://code.jquery.com/jquery-1.6.2.min.js')
    script(src='javascripts/processingjs.min.js')
    script(src='javascripts/core.js')
    script(src='javascripts/manager.js')
  body
    block content