body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}
body canvas#processing {
  margin: 0;
  padding: 0;
  position: fixed;
}
a {
  color: #00b7fd;
}
.btn-group.menu {
  position: absolute;
  display: none;
}
.editar-atributos {
  width: 250px;
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  margin-left: 0;
}
